<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscar Personaje</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
          <a href="#" class="navbar-brand">Web</a>
          <ul class="navbar-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Video</a></li>
          </ul>
        </div>
      </nav>
  <div class="container">
    <h1>Video</h1>
    <video width="640" height="360" controls>
    <source src="/static/SOUTH PARK_ THE END OF OBESITY _ Official Teaser _ Paramount+ (1080p).mp4" type="video/mp4">
  </div>

  <img src="/static/Cartman-PNG.png" alt="">

  <footer>
    <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
  </footer>

</body>
</html>
