body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco para contrastar */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Margen exterior */
    max-width: 300px; /* Ancho máximo */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

img:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

h1 {
    font-size: 24px;
    color: white; 
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color: black; 
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: white;
}

p {
    margin-bottom: 10px;
    color: white;
}

.imagen2 {
    width: 800px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 50px auto 50px auto; 
    display: block; 
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    padding: 10px 0;
    width: 100%;
}

.navbar {
    background-color: black;
    padding: 12px 0;
    width: 100%;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: yellow;
    border-radius: 5px;
}


.kyle {
    max-width: 200px; 
    height: auto; 
    margin-left: 20px; 
    margin-top: -500px; 
  }
  
  